;; shadow-cljs configuration
{:source-paths ["src"]

 :dependencies []

 :builds {:app {:target :esm
                :js-options {:keep-as-import #{"child_process"
                                               "fs/promises"
                                               "node-fetch"}}
                :modules {:app {:init-fn bot.main/main}}
                :output-dir "target"}}}
